#container {
    width : 330px;
    height : 600px;
    margin : 150px;
    background-color : #F6F4DB;
    border : 3px solid black;
    border-radius : 10px;
    box-shadow : 2px 2px 3px 3px gray;
    display : flex;
    flex-direction : column;
    
}

#list-container
{
    display : flex;
    flex : auto;
    flex-direction: column;
    margin : -16px;
    padding : 25px;
}

#what-to-do
{
    border : none;
    margin-bottom : 10px;

}

#input-box
{
    width : 240px;
    height : 20px;
    border-radius : 5px;
}

button{
    width : 30px;
    height : 15px;
    margin : 5px 5px 1px 1px;
    font-size : 7px;
    float : right;
    cursor : pointer;
    font-weight : bold;


}


li
{
    height : 25px;
    margin-top : 10px;
    border : 2px solid black;
    border-color : #C5B697;
    border-radius : 6px;
    list-style-type: none;
    font-weight : bold;
    
}